@import "tailwindcss";

@layer base {
    :root {
        --primary: #cb3cff;

        --secondary-1: #101935;
        --secondary-2: #343B4F;
        --secondary-3: #57C3FF;
        --secondary-4: #343B4f;
        --secondary-5: #FDB52A;

        --neutral-800: #080F25;
        --neutral-700: #212C4D;
        --neutral-600: #37446B;
        --neutral-500: #7E89AC;
        --neutral-400: #AEB9E1;
        --neutral-300: #D1DBF9;
        --neutral-200: #D9E1FA;
        --neutral-100: #FFFFFF;
    }
}

.text-primary {
    color: var(--primary)
}

.stroke-primary {
    stroke: var(--primary);
}
